<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 -->  
<mapper namespace="Clawer.EHentaiMapper">
    <sql id="EHentai_columns">url,honName,category,uploader,postTime,fileSize,length,favoratedTimes,ratingCount,ratingLabel,groupCategory,femaleCategory,maleCategory,language,characters,artist,parody,misc</sql>
    <insert id="putManga" parameterType="EHentai" useGeneratedKeys="true" keyProperty="id">  
		insert into EHentai(<include refid="EHentai_columns"></include>)values(
		    #{url},
		    #{honName},
		    #{category},
		    #{uploader},
		    #{postTime},
		    #{fileSize},
		    #{length},
		    #{favoratedTimes},
		    #{ratingCount},
		    #{ratingLabel},
		    #{groupCategory},
		    #{femaleCategory},
		    #{maleCategory},
		    #{language},
		    #{character},
		    #{artist},
		    #{parody},
		    #{misc}) 
		    on duplicate key update honName = VALUES(honName)
	</insert>  
	
</mapper>  